@font-face {
  font-family: 'BrittiSans';
  src: url('/fonts/BrittiSansTrial-Light-BF6757bfd494951.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BrittiSans';
  src: url('/fonts/BrittiSansTrial-Regular-BF6757bfd47ffbf.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BrittiSans';
  src: url('/fonts/BrittiSansTrial-Semibold-BF6757bfd443a8a.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BrittiSans';
  src: url('/fonts/BrittiSansTrial-Bold-BF6757bfd4a96ed.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'BrittiSans', sans-serif;
}
